nodered.json
[{"id":"7337cfd1.5c322","type":"tab","label":"Journal","disabled":false,"info":""},{"id":"12271d8e.cf8662","type":"telegram receiver","z":"7337cfd1.5c322","name":"","bot":"84649016.e17568","saveDataDir":"","x":130,"y":60,"wires":[["a9253c7e.820e18"],[]]},{"id":"89e760cc.4dc528","type":"telegram sender","z":"7337cfd1.5c322","name":"Telegram send response","bot":"84649016.e17568","x":870,"y":200,"wires":[[]]},{"id":"8623ddb2.59e1e8","type":"http request","z":"7337cfd1.5c322","name":"Request","method":"POST","ret":"txt","paytoqs":false,"url":"http://journal:5000/post","tls":"","persist":false,"proxy":"","authType":"","x":260,"y":180,"wires":[["49ca0de1.04da24","99f06dbb.104538"]]},{"id":"a9253c7e.820e18","type":"function","z":"7337cfd1.5c322","name":"createTask","func":"msg.chatId = msg.payload.chatId;\n\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\n\nmsg.item = msg.payload.content;\nmsg.payload = \"{\\\"msg\\\": \\\"\" + msg.item + \"\\\"}\";\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":210,"y":120,"wires":[["8623ddb2.59e1e8"]]},{"id":"4b305832.12ff4","type":"function","z":"7337cfd1.5c322","name":"Generate the reply todo","func":"msg.payload = {};\nmsg.payload.chatId = msg.chatId;\nmsg.payload.type = 'message';\nmsg.payload.content = 'Added \"'+ msg.item + '\" to your journal.';\nreturn [ msg ];","outputs":1,"noerr":0,"x":610,"y":240,"wires":[["89e760cc.4dc528"]]},{"id":"49ca0de1.04da24","type":"switch","z":"7337cfd1.5c322","name":"Error","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"could not be found","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":140,"wires":[["f83338d5.1af3a8"]]},{"id":"f83338d5.1af3a8","type":"function","z":"7337cfd1.5c322","name":"Error","func":"msg.payload = {};\nmsg.payload.chatId = msg.chatId;\nmsg.payload.type = 'message';\nmsg.payload.content = 'Error talking to the API.';\nreturn [ msg ];","outputs":1,"noerr":0,"x":550,"y":140,"wires":[["89e760cc.4dc528"]]},{"id":"99f06dbb.104538","type":"switch","z":"7337cfd1.5c322","name":"OK","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"The resource could not be found.","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":240,"wires":[["4b305832.12ff4"]]},{"id":"84649016.e17568","type":"telegram bot","z":"","botname":"YourBotID","usernames":"YourUsername","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":true}]
